.schedulePage {
    height: auto;
    width: 100%;
    background-color: #f5f5f5;
    padding-bottom: 30px;
}

.shedule-page-column {
    margin: 0 !important;
}

.schedule-header {
    text-align: center !important;
    align-content: center !important;
}


.schedule-header>h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 1px;
    color: #7100e2;
}

.schedule-div-hr {
    width: 8%;
    height: 3px;
    background-color:  #7100e2;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
}

.schedule-buttons-cus {
    width: 50%;
    align-content: center;
    margin: 0 auto !important;
}

th {
    font-size: 12px;
    width: 100px;

}

.speaker-pos {
    width: 300px !important;
}

.speaker-words {
    width: 40% !important;
    font-size: 12px;
}
.speaker-halls {
    text-align: center;
}

.speaker-hall {
    font-size: 12px;
    color: #4e4e4e !important;
    font-weight: 700;
}

.speaker-hall-position {
    font-size: 10px;
    color: #4e4e4e !important;
    font-weight: 700;
}

.schedule-button-cus {
    background: white;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: .65em !important;
    color: #2b2b2b ;
    padding: 13px 15px !important;
    border-radius: 5 !important;
    width: 73%;
    height: 16px !important;
}

.schedule-day-column {
    margin: 0 !important;
    padding: 0 !important;
}

.schedule-but-is-selected {
    background-color: #7100e2 !important;
    color: #f5f5f5 !important;
}